

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1.3rem;
    margin-top: 1rem;
}

body{
    background-color: #FFEFEF;
    font-size: 62.5%;
    color: #722222;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    backdrop-filter: blur(10px);
    background-color: rgba(217, 217, 217, 25%);
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    width: 100%;
    height: 65px;
}

#logo{
    height: 3.5rem;
    margin: 1rem;
}

#button-menu img{
    width: 2rem;
    margin:1rem;
}

article{
    backdrop-filter: blur(0px);
    background-color: rgba(255, 0, 0, 0.8);
    z-index: 1;
}


#home-article{
    z-index: 1;
    margin-top: 8rem;
    margin-left:30px;
    width: 50%;
    height:fit-content;
    align-items: center;
    justify-content: center;
}

#aboutus{
    display: flex;
    flex-direction: row-reverse;
}

#article-aboutus{
    width: 50%;
    height: fit-content;
}

.div-texto{
    position: relative;
}

#espa{
    height: 5rem;
}

#contato{
    display: flex;
    flex-direction: column;
}

#background-home{
    height:40rem;
    width: auto;
}

footer{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

small {
    margin-top: 1rem;
    font-size: 15px;
}