@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


body{
    background-color: #FFEFEF;
    font-size: 62.5%;
    color: #722222;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    max-width: 1080px;
    scroll-behavior: smooth;
}

:root{
    --width-div-icons: 2.5rem;
}

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1.3rem;
    margin-top: 1rem;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

header{
    backdrop-filter: blur(15px);
    background-color: rgba(217, 217, 217, 25%);
    display: flex !important;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    width: 100vw;
    height: 60px;  
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul, a{
    list-style-type: none;
    text-decoration: none;
    color: #722222;
    font-size: 1.2rem;
}

#menu ul{
    display: flex;
    padding: 1rem;
}

#menu a{
    margin: 0.5rem;
}

#logo{
    height: 3.5rem;
    margin: 0;
}

#button-menu img{
    width: 2rem;
    margin:1rem;
}

.fundo-distorcido{
    backdrop-filter: blur(15px);
    background-color: rgba(217, 217, 217, 0.25);

}

#home{
    padding-top: 0;
}

#background-home{
    float: right;
    width: 49%;
}

#home-article{
    margin-left:30px;
    width: 49%;
    height:fit-content;
    align-items: center;
    justify-content: center;
}

#aboutus{
    display: flex;
    flex-direction: row-reverse;
}

#article-aboutus{
    width: 50%;
    height: fit-content;
}

.artc-text{
    position: relative;
}

#contato, #contato div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato{
    position: relative;
    width: 100%;
}

#contato div{
    margin-top: 2rem;
}

#background-contato{
    position: relative;
    width: 100%;
}



#contato-artc{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: fit-content;
    width: 100%;

}

#icons{
    display: flex !important;
    flex-direction: row !important;
}

#icons{
    margin-top:2rem;
    margin-bottom: 2rem;
    height: var(--width-div-icons);
}


#icons img{
    height: var(--width-div-icons);
}

#divider{
    margin: 1.5rem;
}

.divider-svg{
    width: 2px;
    height: 4.5rem;
}

footer{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

small {
    margin-top: 1rem;
    font-size: 15px;
}