@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body{
    justify-content: center;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column !important;
    max-width: 700px;
    font-size: 62.5%;
    color: #722222;
    background-color: #FFEFEF;
    font-family: 'Raleway', sans-serif;

}

#plano-de-fundo-newsletter{
    width: 100%;
}

p{
    font-size: 1.3rem;
}

#texto-email h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;

}

#texto-email p{
    text-align: justify;
}

#texto-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons a{
    margin: 1rem;
}

#icons{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    background-color:#a7a7a780;
    height: fit-content;
    width: 15rem;
    border-radius: 50px;
    margin-top:2rem;
    margin-bottom: 2rem;
    height: max-content;
    
}

#icons img{
    height: 2.5rem;
}

